<a href="https://colab.research.google.com/github/vnababy/python/blob/main/python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List:A list in Python is used to store the sequence of various types of data.

Example:

In [ ]:
List1=["Apple","Mango", "Grapes",1,2,3,]
List2=["Apple","Mango", "Grapes",1,2,3,]
list1=List2

In [ ]:
List1=["Apple","Mango", "Grapes",1,2,3,]
list1=List2
print(List2)

['Apple', 'Mango', 'Grapes', 1, 2, 3, 4]

append() - adds an element to the end of the list

In [ ]:
List1=["Apple","Mango", "Grapes",1,2,3,]
List2=["Apple","Mango", "Grapes",1,2,3,]
List2.append (6)
List1.append (9)
print(List1)
print(List2)

['Apple', 'Mango', 'Grapes', 1, 2, 3, 9]
['Apple', 'Mango', 'Grapes', 1, 2, 3, 6]

extend()- adds all elements of a list to another list

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
list2.extend([6,7,8,"Ram","sita"])
print(list1)
print(list2)

['Apple', 'Mango', 'Grapes', 1, 2, 3]
['Apple', 'Mango', 'Grapes', 1, 2, 3, 6, 7, 8, 'Ram', 'sita']

insert()- inserts an item at the defined index

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
list1.insert(2,"ram")
list2.insert(4,"ram")
print(list1)
print(list2)

['Apple', 'Mango', 'ram', 'Grapes', 1, 2, 3]
['Apple', 'Mango', 'Grapes', 1, 'ram', 2, 3]

remove() - removes an item from the list

The remove() method removes the specified item.

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
list1.remove("Apple")
print(list1)

['Mango', 'Grapes', 1, 2, 3]

pop() - returns and removes an element at the given index /The pop() method removes the specified index.

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
list2.pop(1)
print(list2)

['Apple', 'Grapes', 1, 2, 3]

clear()- removes all items from the list/The clear() method empties the list.

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
list1.clear()
print(list1)

[]

Index() - returns the index of the first matched item/

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
print(list1[2:5])

['Grapes', 1, 2]

Negative Indexing:Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
print(list1[-2])

2

Range of Indexes:It can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,]
list2=["Apple","Mango", "Grapes",1,2,3,]
print(list2[2:6])
print(list2)

['Grapes', 1, 2, 3]
['Apple', 'Mango', 'Grapes', 1, 2, 3]

count() - returns the count of the number of items passed as an argument/The count() method returns the number of elements with the specified value.

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,2,2,2]
list2=["Apple","Mango", "Grapes",1,2,3,]
list1.count(2)

4

sort() - sort items in a list in ascending order

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,2,2,2]
list=[23,567,90,3,56,1]
list2=["Apple","Mango", "Grapes",1,2,3,]
list.sort()
print(list)

[1, 3, 23, 56, 90, 567]

To sort descending, use the keyword argument reverse = True:

In [ ]:
list1=["Apple","Mango", "Grapes",1,2,3,2,2,2]
list=[23,567,90,3,56,1]
list2=["Apple","Mango", "Grapes",1,2,3,]
list.sort(reverse = True)
print(list)

[567, 90, 56, 23, 3, 1]

copy() - returns a shallow copy of the list/You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [ ]:
list2=[23,567,90,3,56,1]
list1 = list.copy()
print(list1)

[23, 567, 90, 3, 56, 1]

Another way to make a copy is to use the built-in method list().

In [ ]:
list2=[23,567,90,3,56,1]
list1 = list(list2)
print(list1)

TypeError: ignored

len() - returns length of the list./

To determine how many items a list has, use the len() function:

In [ ]:
list2=[23,567,90,3,56,1]
print(len(list2))

6

max(list)- It returns the maximum element of the list.

In [ ]:
list2=[23,567,90,3,56,1]
print(max(list2))

567

min(list) - It returns the minimum element of the list.

In [ ]:
list2=[23,567,90,3,56,1]
print(min(list2))

1

list(seq) -It converts any sequence to the list.

In [ ]:
names=["tinku","pinky","chinni","premi","teja","pallu"]
newlist = []

for x in names:
  if 'i' in x:
    newlist.append(x)
    print(newlist)

['tinku']
['tinku', 'pinky']
['tinku', 'pinky', 'chinni']
['tinku', 'pinky', 'chinni', 'premi']

The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

Class:A Class is like an object constructor, or a "blueprint" for creating objects.